.container{
    display: grid;
    grid-template-columns: 1fr 4fr;
}
.header{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column: 2 /4;
}
.header.top{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr 1fr;
    grid-column: 2/5;
}
.header.bottom{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr 1fr 1fr 1fr;
    grid-column: 2/5;
}